
// Make viewport great again (responsive)
// http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

  @-ms-viewport { // stylelint-disable-line  at-rule-no-vendor-prefix
    width: device-width;
  }
}

.page { // html

  $block-name:                &; // #{$block-name}__element

  // box-sizing: border-box;
  // font-size: 10px;
  // -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  // -ms-overflow-style: scrollbar;
  // -ms-text-size-adjust: 100%; // stylelint-disable-line  property-no-vendor-prefix
  // min-width: 320px;
  min-height: 100%;

  body {
    padding-top: 56px;
  }

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex-grow: 1;
  }

  &__footer-wrapper {
    flex-shrink: 0;
  }
}

// We love EDGE! This is a browser!
svg {

  a &,
  button & {
    pointer-events: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  text-transform: uppercase;
}

.bg-dark {
  background-color: #262626 !important;
}

.phone-link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;

  &:hover {
    text-decoration: none;
  }

  &__icon {
    fill: $primary;
  }
}

.btn-call {
  border-color: #878787;
  text-transform: inherit;
}

.bg-overlay-img {
  background-color: #262626;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: -1;

  &:after {
    content: "";
    background-color: rgba(38, 38, 38, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

.container-narrow {
  max-width: 945px;
  margin: auto;
}

.heading {
  margin-bottom: 40px;
}

.decor {
  width: 60px;
  height: 4px;
  background-color: #ffcc00;
  display: block;
  margin: 5px auto 5px auto;
}

.intro {
  background: #f3f3f3;
  position: relative;
  overflow: hidden;

  .row {
    min-height: 700px;
  }

  &__inner {

    display: flex;
    align-items: center;

    &:after {
      content: "";
      position: absolute;
      height: 100%;
      background-image: url('../img/intro-bg-1.png');
      background-repeat: no-repeat;
      background-position: left center;
      position: absolute;
      right: -120%;
      top: 0;
      width: 125%;
    }
  }

  &__title {
    font-size: 38px;
    font-weight: 800;
    letter-spacing: 2.5px;
    margin-top: 1rem;
    margin-bottom: 0.6rem;
  }

  &__text {
    font-size: 22px;
    color: #6c6c6c;
  }

  &__lead-text {
    border: 6px solid $primary;
    font-size: 24px;
    font-weight: 700;
    padding: 1.4rem 2.5rem;
    max-width: 655px;
  }

  &__countdown {
    .psgTimer {

      margin: auto;

      @include media-breakpoint-up(lg) {
        margin: 0;
        margin-left: -15px;
      }
    }
  }
}

// TIME TO
.psgTimer {
  display: table;
  margin: 0;
  font-size: 0;
  // font-family: 'Roboto', sans-serif;
  &_numbers,
  &_labels {
    &>div {
      display: inline-block;
      font-size: 0;
      width: 124px;
      text-align: center;
    }
  }
  &_numbers {
    &>div {
      position: relative;
      &:after {
        content: ":";
        line-height: 60px;
        height: 60px;
        display: block;
        font-weight: bold;
        font-size: 24px;
        color: #21272C;
        position: absolute;
        top: 0;
        right: -4px;
      }
      &:last-child:after {
        content: none;
      }
      &>div {
        display: inline-block;
        vertical-align: top;
        width: 44px;
        height: 60px;
        line-height: 60px;
        background: #21272C;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        font-weight: bold;
        font-size: 36px;
        font-weight: 600;
        text-align: center;
        color: #f7f7f7;
        &:first-child {
          margin-right: 5px;
        }
      }
    }
  }
  &_labels {
    &>div {
      padding-top: 15px!important;
      font-size: 16px;
      line-height: 18px;
      // text-transform: uppercase;
      letter-spacing: 1.2px;
      color: #7b7b7b;
    }
  }
}

@media screen and (max-width: 640px){
  .psgTimer {
    &_numbers,
    &_labels {
      &>div {
        width: 74px;
      }
    }
    &_numbers {
      &>div {
        position: relative;
        &:after {
          line-height: 40px;
          height: 40px;
          font-size: 16px;
          right: -2px;
        }
        div {
          width: 26px;
          height: 40px;
          line-height: 40px;
          font-size: 16px;
          &:first-child {
            margin-right: 2px;
          }
        }
      }

    }
    &_labels {
      &>div {
        font-size: 10px;
        line-height: 16px;
      }
    }
  }
}
// END TIME TO

.products {}

.product-carousel {
  margin-bottom: 5px;
}

.product-thumbs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;

  .owl-thumb-item {
    max-width: calc(33.333% - 10px);
    background: transparent;
    padding: 0;
    margin: 0;
    border: none;
    display: block;
    margin: 5px;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(38, 38, 38, 0.7);
      background-image: svg-load('../blocks/sprite-svg/svg/loupe-icon.svg', fill=#fff);
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0;
      transition: all 0.4s;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      &:before {
        opacity: 1;
      }
    }

    img {
      display: block;
    }
  }
}

.product-thumbs-value {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background: #262626;
  width: 36px;
  height: 36px;
  color: $primary;
  font-size: 18px;
  font-weight: 500;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card {
  background: #262626;
  background-image: url('../img/zebra-pattern.png');
  background-size: cover;
  color: #fff;

  &__inner {
    padding: 30px;
    flex-wrap: wrap;
  }

  &__media {

    max-width: 100%;
    flex-grow: 1;
    margin-bottom: 5px;

    @include media-breakpoint-up(md) {;
      margin-bottom: 0;
      margin-right: 30px;
      max-width: calc(100% - 330px);
    }
  }

  &__info {
    max-width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include media-breakpoint-up(md) {
      min-width: 300px;
    }
  }

  &__option {

    font-size: 18px;
    display: flex;

    .option-class,
    .option-sale {
      padding: 0.5rem 1rem;
      flex-grow: 1;
      width: 100%;
    }

    .option-class {
      border: 2px solid #858585;
      color: #fff;
      text-align: center;

      span {
        color: $primary;
        text-transform: uppercase;
      }
    }
    .option-sale {
      background: #ff0018;
      color: #fff;
      text-align: center;
    }
  }

  &__name {
    font-weight: $font-weight-normal;
  }

  &__list {
    list-style: none;
    padding-left: 0;
    color: #848484;

    li {
      position: relative;
      padding-left: 25px;

      &:before {
        content: "";
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: $primary;
        position: absolute;
        left: 0;
        top: calc(50% - 3px);
      }
    }
  }

  &__price {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .second-price {
      font-size: $h3-font-size;
      font-weight: $font-weight-light;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        height: 1px;
        width: 110%;
        background: #fff;
        top: 49%;
        left: -5px;
      }
    }
    .main-price {
      color: $primary;
      font-size: $h1-font-size;
      font-weight: $font-weight-bold;
    }
  }
}

.faq {}

.faq-list {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__item {

    &.question {
      border: 2px solid #555555;
      position: relative;

      span {
        border: 2px solid #555555;
        display: block;
        margin: 1px 9px;
        padding: 1.3rem 2.5rem;
        font-size: 21px;
        color: #fff;

        &:before {
          content: "";
          width: 24px;
          height: 24px;
          display: inline-block;
          background-image: url('../img/faq-icon.png');
          background-repeat: no-repeat;
          background-position: center;
          vertical-align: middle;
          margin-right: 20px;
        }
      }

      &.first {
        right: 320px;
        bottom: -45px;

        &:before {
          content: "";
          width: 46px;
          height: 69px;
          position: absolute;
          top: calc(100% + 20px);
          right: 20px;
          background-image: url('../img/faq-first-arrow.png');
          background-repeat: no-repeat;
          background-position: center;
        }
      }
      &.second {
        left: 340px;

        &:before {
          content: "";
          width: 60px;
          height: 80px;
          position: absolute;
          top: calc(100% - 20px);
          left: -80px;
          background-image: url('../img/faq-second-arrow.png');
          background-repeat: no-repeat;
          background-position: center;
        }
      }
      &.third {
        right: 340px;

        &:before {
          content: "";
          width: 53px;
          height: 43px;
          position: absolute;
          bottom: calc(100% + 20px);
          right: 20px;
          background-image: url('../img/faq-third-arrow.png');
          background-repeat: no-repeat;
          background-position: center;
        }
      }
      &.fourth {
        left: 230px;
        top: 0px;

        &:before {
          content: "";
          width: 130px;
          height: 116px;
          position: absolute;
          bottom: calc(100% + 20px);
          left: 25%;
          background-image: url('../img/faq-fourth-arrow.png');
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }

    &.form {
      padding: 90px 0;

      .form-control {
        border-color: $primary;
        background: #262626;
        color: #fff;

        &::placeholder {
          color: #fff;
        }
      }
    }
  }
}

.delivery {

}

.delivery-card {
  .card-body {
    display: flex;
    border: 4px solid $primary;
    padding: 0;
  }

  .card-left-part {
    background: $primary;
    color: #000;
    padding: 50px 40px;
    font-weight: 800;
    font-size: 28px;

    .text-wtap {
      padding-left: 205px;
      background: svg-load('../img/zebra-icon.svg', fill=#e5b700);
      background-repeat: no-repeat;
      background-position: left center;
      background-size: contain;
    }

    p {
      margin-bottom: 0.35rem;
    }

    span {
      font-weight: 400;
    }
  }

  .card-right-part {

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;

    p {
      margin-bottom: 0.4rem;
    }
  }
}

.about {

}

.about-carousel {

  &.owl-theme .owl-nav {
    margin-top: 0;
  }

  .owl-nav button.owl-next,
  .owl-nav button.owl-prev {
    position: absolute;
    top: calc(50% - 50px);

    &:focus {
      outline: none;
    }

    span {
      width: 50px;
      height: 50px;
      background: rgba(255, 255, 255, 0.6);
      display: block;
      font-size: 0;
    }
  }

  .owl-nav button.owl-prev {
    left: 0;

    span {
      background-image: svg-load('../blocks/sprite-svg/svg/left-arrow.svg', fill=#000);
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .owl-nav button.owl-next {
    right: 0;
    span {
      background-image: svg-load('../blocks/sprite-svg/svg/right-arrow.svg', fill=#000);
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &.owl-theme .owl-dots {
    margin-top: 15px;

    .owl-dot {

      &.active {
        span {
          background: $primary;
        }
      }

      &:focus {
        outline: none;
      }

      &:hover {
        span {
          background: $primary;
        }
      }

      span {
        width: 14px;
        height: 14px;
        background: transparent;
        border: 2px solid $primary;
      }
    }
  }
}

.reviews {

}

.reviews-carousel-wrap {
  max-width: 800px;
  float: none;
  margin: 0 auto;
}

.reviews-carousel {


  &.owl-carousel .owl-stage-outer {
    padding: 90px 0;
  }

  .owl-item {

    .reviews-card {
      transition: .4s ease-out;
      opacity: 0.5;
      transform: scale(0.9);
      z-index: -1;
    }

    &.center {
      z-index: 1;
      .reviews-card {
        opacity: 1;
        transform: scale(1.2);
        // transition: .4s ease-in;
      }
    }
  }
}

.reviews-card {

  // max-width: 326px;

  &__img-wrap {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(0,0,0,0) 40%,rgba(0,0,0,0.65) 80%);
      z-index: 1;
    }
  }

  &__img {
  }
  &__header {
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
    margin-top: auto;
    text-align: center;
    color: #fff;
  }
  &__body {
    border: solid 6px #eaeaea;
    border-top: none;
    text-align: center;
    background: #fff;
    font-size: 14px;
    padding: 20px 10px 0 10px;
  }
}

.feedback {

  &.bg-overlay-img {

    &:after {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  .heading {
    h2 {
      letter-spacing: 2px;
    }
  }

  .form {
    .form-control {
      border-color: #fff;
    }

    .btn {
      letter-spacing: 0.8px;
      padding: 1.063rem 1.1rem;
      width: 100%;
    }
  }

  &__form-wrap {
    max-width: 915px;
    margin: auto;
  }

  .form-info {
    color: #6c6c6c;

    a {
      color: #6c6c6c;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}
