// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &; // #{$block-name}__element

  overflow: hidden;

  @include media-breakpoint-up(sm) {
    padding-left: 33px;
    padding-right: 33px;
  }

  .navbar-brand {
    position: relative;

    img {
      position: relative;
      z-index: 1;
    }

    &:before {
      content: "";
      position: absolute;
      width: 97px;
      height: 92px;
      background: svg-load('../img/zebra-icon.svg', fill=#383838);
      top: -15px;
      left: -55px;
    }
  }

  .navbar-nav {

    .nav-item {

      margin-top: 1.5rem;
      color: #a0a0a0;

      @include media-breakpoint-up(lg) {
        margin-top: 0;
        margin-left: 3rem;
        display: flex;
        align-items: center;
      }

      @include media-breakpoint-down(md) {
        &:last-child {
          margin-bottom: 1.5rem;
        }

        .btn-call {
          padding: 0.7rem 1.3rem;
          width: 100%;
          max-width: 270px;
        }
      }
    }
  }

  .navbar-text {
    margin-left: 3rem;
  }

  .btn-phone {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0 15px;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;

    svg {
      margin-right: 6px;
    }

    @include media-breakpoint-down(xs) {
      flex-grow: 1;
    }

    @media (max-width: 359px) {
      font-size: 12px;
      flex-grow: 0;
      margin: 0 10px;

      svg {
        width: 12px;
        height: 12px;
        margin-right: 4px;
      }
    }
  }
}
