// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer {

  $block-name:                &; // #{$block-name}__element

  @include media-breakpoint-down(md) {
    text-align: center;
    font-size: 14px;
  }

  &__contacts {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-up(lg) {
      justify-content: flex-end;
    }
  }

  .adress-item {
    p {
      color: #757575;

      @include media-breakpoint-down(lg) {
        font-size: 14px;
      }
    }
  }

  .phone-link {
    color: #000;

    &__icon {
      fill: #000;
    }
  }

  .btn-call {
    color: #484848;
    border-color: #878787;

    &:hover {
      border-color: #000;
      color: #000;
    }
  }

  .copiright {
    color: #757575;

    @include media-breakpoint-down(lg) {
      font-size: 14px;
    }
  }

}
